[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-tikva"]
	path = themes/hugo-tikva
	url = https://github.com/geschke/hugo-tikva
